.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

#btnFlip{
  width: 10%;
  padding: 7px 25px;
  font-size: 19px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(49, 39, 239);
}

@media screen and (max-width:991px) {
  h1{
    font-size: 6rem;
  }
  .container{
    margin-top: 200px;
  }
  .dice{
    margin-right: 70px;
  }
  img{
    width: 95%;
  }
  #btnFlip{
    width: 45%;
    padding: 20px 50px;
    font-size: 44px;

  }
}

